
#bloque{
    width: 19rem;
    height: 15em;
    margin: 10% 0% 0% 35%;
    border: 2px solid grey;
    background-color: rgba(37, 151, 60, 0.385);

}
i{
    margin: 3% 0% 0% 5%;
}
b{
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 3% 0% 0% 5%;
}
input{
    height: 1.5rem;
    width: 9rem;
    margin: 4% 0% 0% 7%;

}
#boton{
    height: 2.5rem;
    width: 7rem;
    margin: 4% 0% 0% 7%;
}